h1, p {
	margin: 0;
}
header {
	background-color: #aca1ff;
	display: flex;
	padding: 1rem;
	box-sizing: border-box;
	height: 150px;
	align-items: center;
}

main {
	display: grid;
	grid-template-columns: 250px 1fr;
	box-sizing: border-box;
}

aside {
	background-color: #fff4cf;
	padding: 1rem;
	box-sizing: border-box;
}

footer {
	background-color: #d0f0b6;
	box-sizing: border-box;
	padding: 1rem;
}

body {
	margin: 0;
}
/**/
nav ul {
	flex: 1;
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 1rem;
}

nav li {
	width: 100px; /*Transformar em 'em'*/
}

header h1{
	flex: 3;
}

section ul {
	list-style: none;
	padding: 1rem;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

section ul article {
	background-color: #ce87c8;
	padding: 1rem;
	box-sizing: border-box;
}

/* FORMS */

input {
	width: 100%;
	margin: 0.5rem 0;
}

/* PROXIMOS PASSOS
<HEADER> 
	MIRO REBOQUE (GRANDE) (FONTE ARIAL);
	Ao lado esquerdo, um desenho de um reboque (Usar FLOAT?);
	<NAV>
		Fazer com que tenha um tamanho máximo.
		Os flex-items precisam estar bem distribuídos.
		Centralizar os itens.
	</NAV>
</HEADER>

<ASIDE>
	Ajeitar o form:
		Label + Checkbox na mesma linha
		Preço + Range tá bom, mas precisa adicionar um <output>
		Label 'Tamanho' tá bom
		Pôr 'Filtrar' e 'Limpar' na mesma linha, em lados opostos (talvez na mesma div com display: flex)
</ASIDE>

<MAIN>
	Essa é parte mais complicada pois terei que mexer com tamanhos.
	<ARTICLE>
		Primeiramente, precisa ter um tamanho máximo.
		Centralizar os textos.
		Redimensionar a imagem e fazê-la responsiva junto com o article.
		Nos <article> com class = 'indisponível':
			Acinzentar a image, provavelmente adicionando um background ao container div;
			Quando :hover -> Em vez de mostrar uma lupa no centro, mostrar uma "placa: INDISPONÍVEL" vermelha;
			Ainda assim, manter a imagem clicável
		Nos <article> com class = 'disponivel', adicionar a imagem de uma lupa preta ao :hover usando background.
			Ao clicar na imagem, abrir uma nova <div>, como um pop up, exibindo mais fotos da carroça em questão. Fazer isso usando JS.
				Nessa nova div, o carrocel de fotos (grande) ficará a esquerda e as informações à direita (Provavelmente utilizando uma tabela).
					Em caso mobile, a imagem ficará em cima e as informações em baixo.
				Eu gostaria que não fosse possível clicar fora da div, e talvez acinzentar um pouco o fundo. (talvez adicionando uma grande <div> "com posição absoluta(talvez fixa seja melhor)" do tamanho do viewport)
				Não esquecer de colocar um X vermelho no canto superior direito para fechar a div.
				Colocar um botão para "ALUGAR", que não funcionará (apenas manda um console.log()), mas ficará "ativo" na cor verde ou "inativo" na cor cinza. Não precisa se estressar com JS aqui, como é uma coisa apenas visual, basta usar uma classe para separar.
		TALVEZ adicionar um botão de alugar, que levará a uma outra página com um form. Mas isso seria por último.
	</ARTICLE>
</MAIN>
<FOOTER>
	Colocar informações de contato:
		Tel
		E-mail
		Endereço
		Um mapa?????? [Localiza aí kkkkkk]
		Redes sociais:
			tt
			inst
			orkut
			face
</FOOTER>
*/